@charset "UTF-8";

.main {
    font-family: sans-serif;
	font-size: 16px;
	width: 1280px;
    margin: auto;
}
.info   {
	vertical-align: middle;
	display: table-cell;
	height: 300px;
}
.pic {
	display: inline;
	float: left;
	width: 250px;
}
.section {
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}

h1 {
	color: rgba(55,71,79,1);
}
